%h3 
  Template
.row
  %h4.subheader.large-4.column 
    Platform
  %h4.subheader.large-4.column 
    Database 
  %h4.subheader.large-4.column 
    Table
  %p.large-4.column 
    = @template.platform
  %p.large-4.column 
    = @template.database_name
  %p.large-4.column 
    = @template.table_name
%hr
.row
  %h4.subheader.large-4.column 
    Column Name
  %h4.subheader.large-4.column 
    Column Type 
  %h4.subheader.large-4.column 
    Column Format
  %p.large-4.column 
    = @template.column_name
  %p.large-4.column 
    = @template.column_type
  %p.large-4.column 
    = @template.column_format
%hr
.row
  %h4.subheader.large-4.column 
    Column Precision
  %h4.subheader.large-8.column 
    Column Scale
  %p.large-4.column 
    = @template.column_name
  %p.large-8.column 
    = @template.column_type
%hr
.row
  %h4.subheader.large-12.columns
    Sample SQL
  %p.large-11.large-offset-1.columns
    = raw(@sqltext)
%hr
.row
  %h4.subheader.large-12.columns
    Notes
  %p.large-11.large-offset-1.columns
    (notes text) 

= link_to 'Change template', edit_template_path, class: "button radius"
