%h3 
  Show Template
%table.large-12.columns
  %tr
    %td.large-2.columns
      %strong
        Platform
    %td.large-10.columns
      = @template.platform
  %tr
    %td.large-2.columns
      %strong
        Database Name
    %td.large-10.columns
      = @template.database_name 
  %tr
    %td.large-2.columns
      %strong
        Table Name
    %td.large-10.columns
      = @template.table_name 
  %tr
    %td.large-2.columns
      %strong
        Column Name
    %td.large-10.columns
      = @template.column_name
  %tr
    %td.large-2.columns
      %strong
        Column Type
    %td.large-10.columns
      = @template.column_type
  %tr
    %td.large-2.columns
      %strong
        Column Format
    %td.large-10.columns
      = @template.column_format
  %tr
    %td.large-2.columns
      %strong
        Column Precision
    %td.large-10.columns
      = @template.column_precision
  %tr
    %td.large-2.columns
      %strong
        Column Scale
    %td.large-10.columns
      = @template.column_scale
%hr
.row
  %h4.subheader.large-12.columns
    Sample SQL
  %p.large-11.large-offset-1.columns
    = raw(@sqltext)
%hr
.row
  %h4.subheader.large-12.columns
    Notes
  %p.large-11.large-offset-1.columns
    = markdown @template.notes

= link_to 'Change template', edit_template_path, class: "button radius"
