%h3= "#{@template.platform} Template"
%hr
.row
  %h4.subheader.large-12.columns
    Sample SQL
  %p.large-11.large-offset-1.columns
    = raw(@sqltext)
%hr
.row
  %h4.subheader.large-12.columns
    Notes
  %p.large-11.large-offset-1.columns
    = markdown @template.notes

= link_to 'Change template', edit_template_path, class: "button radius"
