.large-9.columns
  %ul.breadcrumbs
    %li= link_to "Srv: #{@server.name}", @server
    %li= link_to "DB: #{@base.name}", @base
    %li= link_to "Sch: #{@schema.name}", @schema
 
  %h2 Table : #{@tableau.name}

  %table
    %tr
      %th Columns
      %th Type
    = render partial: "column", collection: @tableau.columns
