<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- work this back in later <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>  -->
    <title><%= content_for?(:page_title) ? yield(:page_title) : "DaDbDc" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "coderay" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= content_for :page_title, 'Database Schema Documentation Tool'%> 
    <%= render "layouts/topnav" %>
    <div class="row">
      <div class="large-8 columns">
         <% flash.each do |name, msg| -%>
          <div data-alert class="alert-box">
            <%= content_tag :div, msg, class: name %>
            <a href="#" class="close">&times;</a>
          </div> 
        <% end -%>
       <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
